<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value=".nuget" />
    </config>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="bottlenoselabs" value="https://www.myget.org/F/bottlenoselabs/api/v3/index.json" />
    </packageSources>
</configuration>